<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <title>Pantalla Principal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='pantalla-principal-admin.component.css'>
    <script src='main.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="left-content">
            <a class="logo" href=""><img style="width: 100px; height: 100px;" src="assets/xuxemons-logo.png"></a>
            <p class="luckiest-guy-regular">XUXEMONS</p>
        </div>
        <div class="right-content">
            <p class="luckiest-guy-regular">100</p>
            <div class="icons">
                <img src="assets/moneda.png">
            </div>
        </div>
    </header>    
    <main>
      <div class="botones-crear">
        <button class="btn-crear" (click)="mostrarFormularioCreacion()">Crear</button>
        <button class="btn-crear-rand" (click)="crearXuxemonRandom()">Crear random</button>
        </div>
            <div class="pantalla-principal">
              <div *ngFor="let xuxemon of XuxemonsArray;  let i = index" class="contenedor">
                  <div class="texto-x">
                      <p style="font-size: 19px">{{ xuxemon.tamano }}</p>
                  </div>
                  <div class="imagen-container">
                      <img [src]="xuxemon.img" [ngClass]="{'imagen-pequena': xuxemon.tamano === 'Pequeño', 'imagen-mediana': xuxemon.tamano === 'Mediano', 'imagen-grande': xuxemon.tamano === 'Grande'}">
                  </div>
                  <div class="texto-container">
                      <p style="font-size: 22px;">{{ xuxemon.nombre }}</p>
                      <p *ngIf="xuxemon.tipo === 'Tierra'" style="font-size: 20px; color: rgb(167, 131, 84);">{{ xuxemon.tipo }}</p>
                      <p *ngIf="xuxemon.tipo === 'Agua'" style="font-size: 20px; color: rgb(60, 180, 250);">{{ xuxemon.tipo }}</p>
                      <p *ngIf="xuxemon.tipo === 'Fuego'" style="font-size: 20px; color: rgb(248, 81, 59);">{{ xuxemon.tipo }}</p>
                  </div>
                  <div class="botones-admin">
                      <a><button class="btn-edit" (click)="mostrarFormularioEdicion(xuxemon)">Editar</button></a>
                      <a><button class="btn-delete" (click)="eliminarXuxemon(i)">Eliminar</button></a>
                  </div>
              </div>
          </div>

            <div *ngIf="formularioEdicionVisible" class="formulario-overlay">
              <div class="formulario-container">
                <div class="formulario-edicion">
                <h2>Editar Xuxemon</h2>
              <form>
                <div>
                  <label for="nombre">Nombre:</label>
                  <input type="text" id="nombre" [(ngModel)]="xuxemonEditado.nombre" name="nombre" required>
                </div>
                <div>
                  <label for="tipo">Tipo:</label>
                  <select id="tipo" [(ngModel)]="xuxemonEditado.tipo" name="tipo" required>
                    <option value="Tierra">Tierra</option>
                    <option value="Agua">Agua</option>
                    <option value="Fuego">Fuego</option>
                  </select>
                </div>
                <div>
                  <label for="tamano">Tamaño:</label>
                  <input type="text" id="tamano" [(ngModel)]="xuxemonEditado.tamano" name="tamano" required>
                </div>
                <div>
                  <label for="imagen">Imagen URL:</label>
                  <input type="text" id="imagen" [(ngModel)]="xuxemonEditado.img" name="imagen" required>
                </div>
                <button type="submit" (click)="setUpdate(xuxemonEditado)">Actualizar</button>
                <button type="button" (click)="cerrarFormularioEdicion()">Cerrar</button>
              </form>
              </div>
            </div>
          </div>

          <div *ngIf="formularioCreacionVisible" class="formulario-overlay">
            <div class="formulario-container">
              <div class="formulario-edicion">
                <h2>Crear Xuxemon</h2>
                <form (ngSubmit)="crearXuxemon()">
                  <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" name="nombre" placeholder="Nombre" required>
                  </div>
                  <div>
                    <label for="tipo">Tipo:</label>
                    <select id="tipo"  [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}" name="tipo" required>
                      <option value="Tierra">Tierra</option>
                      <option value="Agua">Agua</option>
                      <option value="Fuego">Fuego</option>
                    </select>
                  </div>
                  <div>
                    <label for="tamano">Tamaño:</label>
                    <input type="text" id="tamano"  [(ngModel)]="tamano" [ngModelOptions]="{standalone: true}" placeholder="Tamaño" name="tamano" required>
                  </div>
                  <div>
                    <label for="imagen">Imagen URL:</label>
                    <input type="text" id="imagen"  [(ngModel)]="img" [ngModelOptions]="{standalone: true}" name="imagen" placeholder="Imagen URL" required>
                  </div>
                  <button (click)="save()" type="submit">Crear</button>
                  <button type="button" (click)="cerrarFormularioCreacion()">Cerrar</button>
                </form>
              </div>
            </div>
          </div>
    </main>
</body>
</html>

