<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>Pantalla Admin</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='pantalla-principal-admin.component.css'>
    <script src='main.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="titulo">
            <p class="luckiest-guy-regular">PANTALLA ADMINISTRADOR</p><br>
            <button class="boton-crear">Crear</button>
        </div>
    </main>    
</body>
</html>