<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <title>Pantalla Principal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='pantalla-coleccion.component.css'>
    <script src='main.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="left-content">
            <a class="logo" href=""><img style="width: 100px; height: 100px;" src="assets/xuxemons-logo.png"></a>
            <p class="luckiest-guy-regular">XUXEMONS</p>
        </div>
        <div class="right-content">
            <p class="luckiest-guy-regular">100</p>
            <div class="icons">
                <img src="assets/moneda.png">
            </div>
        </div>
    </header>    
    <main>
        <div class="pantalla-principal">
            <div *ngFor="let xuxemon of xuxemonsArray" class="contenedor">
                 <p style="font-size: 19px;">{{ xuxemon.tamano }}</p>
                 <img [src]="xuxemon.img">
                 <div class="texto-container">
                     <p style="font-size: 22px;">{{ xuxemon.nombre }}</p>
                     <p *ngIf="xuxemon.tipo === 'Tierra'" style="font-size: 20px; color: rgb(179, 143, 97);">{{ xuxemon.tipo }}</p>
                     <p *ngIf="xuxemon.tipo === 'Agua'" style="font-size: 20px; color: rgb(64, 189, 247);">{{ xuxemon.tipo }}</p>
                     <p *ngIf="xuxemon.tipo === 'Fuego'" style="font-size: 20px; color: rgb(240, 100, 44);">{{ xuxemon.tipo }}</p>
                 </div>
            </div>
         </div>
    </main>
</body>
</html>
