
<body>
    <header>
        <div class="left-content">
            <a class="logo" href=""><img style="width: 100px; height: 100px;" src="assets/xuxemons-logo.png"></a>
            <p class="luckiest-guy-regular">XUXEMONS</p>
        </div>
        <div class="right-content">
            <p class="luckiest-guy-regular">100</p>
            <div class="icons">
                <img src="assets/moneda.png">
            </div>
        </div>
    </header>    
    <main>
        <div class="pantalla-principal">
            <div *ngFor="let xuxemon of xuxemonsArray" class="contenedor">
                 <p style="font-size: 19px;">{{ xuxemon.tamano }}</p>
                 <img [src]="xuxemon.img" >
                 <div class="texto-container">
                     <p style="font-size: 22px;">{{ xuxemon.nombre }}</p>
                     <p *ngIf="xuxemon.tipo === 'Tierra'" style="font-size: 20px; color: rgb(167, 131, 84);">{{ xuxemon.tipo }}</p>
                     <p *ngIf="xuxemon.tipo === 'Agua'" style="font-size: 20px; color: rgb(60, 180, 250);">{{ xuxemon.tipo }}</p>
                     <p *ngIf="xuxemon.tipo === 'Fuego'" style="font-size: 20px; color: rgb(248, 81, 59);">{{ xuxemon.tipo }}</p>
                 </div>
            </div>
         </div>
    </main>
</body>
