
P {
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    margin-left: 30px;
}

header {
    background-color: #C89CFF;
    padding: 10px 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    display: flex;
    align-items: center;
}

.right-content {
    display: flex;
    align-items: center;
}

.icons img {
    width: 70px;
    margin-left: 10px;
    padding: 10px 10px;
}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 100px;
    height: 100px;
}
