<body style="margin: 0">
    <header>
        <div class="left-content">
            <a class="logo" href=""><img style="width: 100px; height: 100px;" src="assets/xuxemons-logo.png"></a>
            <p class="luckiest-guy-regular">XUXEMONS</p>
        </div>
        <div class="right-content">
            <p class="luckiest-guy-regular">100</p>
            <div class="icons">
                <img src="assets/moneda.png">
            </div>
        </div>
    </header>    
    <main>
        <div class="pantalla-principal">
           <div class="botones">
                <div class="boton-texto" (click)="redireccionarComponente('/pantalla-coleccion')">
                    <div class="boton">
                        <img src="assets/xuxedex.png">
                    </div>
                    <p class="texto-boton">XUXEDEX</p>
                </div>
                <div class="boton-texto" (click)="redireccionarComponente('/tienda')">
                    <div class="boton">
                        <img src="assets/store.png">
                    </div>
                    <p class="texto-boton">TIENDA</p>
                </div>
                <div class="boton-texto" (click)="redireccionarComponente('/hospital')">
                    <div class="boton">
                        <img src="assets/hospital.png">
                    </div>
                    <p class="texto-boton">HOSPITAL</p>
                </div>
                <div class="boton-texto" (click)="redireccionarComponente('/inventario')">
                    <div class="boton">
                        <img src="assets/bag.png">
                    </div>
                    <p class="texto-boton">INVENTARIO</p>
                </div>
           </div>
        </div>
    </main>
</body>
