<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <title>Pantalla Principal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='pantalla-principal.component.css'>
    <script src='main.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body style="margin: 0">
    <header>
        <div class="left-content">
            <a class="logo" href=""><img style="width: 100px; height: 100px;" src="assets/xuxemons-logo.png"></a>
            <p class="luckiest-guy-regular">XUXEMONS</p>
        </div>
        <div class="right-content">
            <p class="luckiest-guy-regular">100</p>
            <div class="icons">
                <img src="assets/moneda.png">
            </div>
        </div>
    </header>    
    <main>
        <div class="pantalla-principal">
           
        </div>
    </main>

</body>
</html>
